.chat {
  display: flex;
  height: 100vh;
  flex-direction: column;
  flex: 0.75;
  background-color: #363a3f;
  color: grey;
}

.chat-header {
  padding: 20px;
  border-bottom: 3px solid #26282c;
  color: gray;
}

.chat-messages {
  flex: 1;
  overflow-y: scroll;
}

.chat-messages::-webkit-scrollbar {
  width: 10px;
}

.chat-messages::-webkit-scrollbar-thumb {
  border: 2.5px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: rgb(35, 35, 35);
}

.chat-input > form {
  display: flex;
}

#input-txt {
  padding: 13px;
  margin: 0px 10px 15px 10px;
  border-radius: 7.5px;
  color: lightgray;
  outline: none;
  border: none;
  background-color: #474b53;
  flex: 1;
  font-size: medium;
}

.input-btn {
  display: none;
}
