.message {
  border: 0px solid blue;
  padding: 15px 30px;
  display: flex;
}

.message-info {
  margin: 0px 0px 0px 15px;
}

.info {
  display: flex;
  flex-wrap: wrap;
}

.message-text {
  color: white;
  margin-top: 5px;
}

.message-timestamp {
  margin: auto auto auto 20px;
  font-size: x-small;
}
