.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.25;
  height: 100vh;
  background-color: #2f3135;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 3px solid #26282c;
  color: white;
}

.sidebar-channels {
  flex: 1;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

.sidebar-channels::-webkit-scrollbar {
  display: none;
}

.channels-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: grey;
  padding: 10px;
}

.header {
  display: flex;
  align-items: center;
}

.sidebar-profile {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  color: grey;
  border-top: 1px solid grey;
}

.profile-info {
  flex: 1;
  padding: 5px 10px;
}

.profile-info > h3 {
  color: white;
}

.profile-icons > .MuiSvgIcon-root {
  padding: 1px;
  margin: 4px;
}
